<div class="row about">
	
  <div class="col col-lg-12">
    <div class="row">
      <div class="col col-lg-7 about_me">
		  <div class="row">
		    <div class="col col-lg-8 me">
				<p class="text-left"><h1><span class="name">Vitaliy Vostrikov</span></h1>
				<h4>Front-end developer, Graphic designer</h4>
				</p>
			</div>
		    <div class="col col-lg-4">
				<a href="#" class="read_blog">Есть что почитать...</a>
			</div>
			<%= render 'template/social'%>
		  </div>
		  
		  <div class="about_site">
			  <h5>Powered by Ruby On Rails 2013 year</h5>
		  </div>
      </div>
	  
      <%= render 'pages/last_posts'%>
	  
    </div>
	
  </div>