<div class="row social">
  <div class="col col-lg-6">
	  <ul>
		  <li class="social_icons icon_be">
			  <%= link_to 'behance.net/rasarts', 'http://www.behance.net/rasarts' %>
		  </li>
		  <li class="social_icons icon_mail">
			  <%= mail_to 'rasart.pro@gmail.com', 'rasart.pro@gmail.com' %>
		  </li>
	  </ul>
  </div>
  <div class="col col-lg-6">
	  <ul>
		  <li class="social_icons icon_fb">
			  <%= link_to 'facebook.com/rasarts', 'http://www.facebook.com/rasarts' %>
		  </li>
		  <li class="social_icons icon_gp">
			   <%= link_to 'plus.google.com', 'https://plus.google.com/104642674025686073539/posts' %>
		  </li>
	  </ul>
  </div>
</div>