<div class="col col-lg-4 col-offset-1 last_posts">
  <span class="new"></span>
  <blockquote>
	  <p><a href="#">Небольшой заголовок</a></p>
	  <p><small>Описание</small></p>
  </blockquote>
  <blockquote>
	  <p><a href="#">Небольшой заголовок</a></p>
	  <p><small>Описание</small></p>
  </blockquote>
</div>