body {
	background: url(<%= image_path('bg.jpg') %>) center center no-repeat;
	background-attachment:fixed;
	background-position:center;
}

@font-face {
	font-family: 'Agora';
	src: url(<%= font_path('agora/Agora.ttf') %>) format('truetype');
}

a {color:#fff;}
a:hover {color:#fff;}

#frame_page {position:relative;}
#frame_page div {position:fixed; z-index:9;}
	#frame_top {
		top:0;
		height:15px;
		width:100%;
		background: url(<%= image_path('frame/frame_top.png') %>) repeat-x top center;
	}
	#frame_right {
		right:0;
		height:100%;
		width:15px;
		background: url(<%= image_path('frame/frame_right.png') %>) repeat-y center right;
	}
	#frame_bottom {
		bottom:0;
		height:15px;
		width:100%;
		background: url(<%= image_path('frame/frame_bottom.png') %>) repeat-x bottom center;
	}
	
	#frame_left {
		left:0;
		height:100%;
		width:15px;
		background: url(<%= image_path('frame/frame_left.png') %>) repeat-y center left;
	}
